@import "~normalize.css/normalize.css";
@import url('https://fonts.googleapis.com/css?family=Lato:100,300,400,400i,700,900');

:root {
  --color-primary: hsl(257, 49%, 35%);
}

html, body, #root {
  height: 100vh;
  width: 100vw;
}

html {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

*, *:before, *:after {
  box-sizing: inherit;
  font-family: inherit;
}

.composition-container, .composition-container > * {
  border: 1px solid black;
  padding: 20px;
}

em {
  font-style: italic;
  font-weight: normal;
}
